{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/style_auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-hero">
    <div class="auth-overlay"></div>
    <div class="auth-container">
        <h2>Регистрация</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {{ form.first_name.errors }}
            {{ form.first_name }}

            {{ form.last_name.errors }}
            {{ form.last_name }}

            {{ form.email.errors }}
            {{ form.email }}

            {{ form.password1.errors }}
            {{ form.password1 }}

            {{ form.password2.errors }}
            {{ form.password2 }}

            <button type="submit">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
    </div>
</div>
{% endblock %}
